body {
  font-family: lato;
  color: #333;
  background-color: #f2f2f2;
}

.is-raleway {
  font-family: Raleway;
}

.header {
  position: fixed;
  width: 100%;
  background-color: #fff;
  z-index: 9999;
}

.inner {
  width: 1100px;
  margin: 0 auto;
}

.header--inner {
  padding: 15px 0;
}

.clearfix:after {
  display: block;
  clear: both;
  content: "";
}

.logo__link {
  float: left;
}

.fa__logo {
  color: #4e4e4e;
}

.header__link {
  float: right;
  padding: 14px 12px;
}

.link__btn {
  border-radius: 3%;
  font-size: 12px;
  color: #fff;
  transition: color 0.3s;
  text-decoration: none;
  background-color: #74cfae;
}

.link__btn:hover {
  color: #333;
  transition: color 0.3s;
}

.hamburger__icon {
  display: none;
}

main {
  padding-top: 78px;
}

.title {
  width: 100%;
}

.title--inner {
  padding: 250px 0;
  text-align: center;
}

.title__heading {
  font-size: 90px;
  font-weight: 700;
  color: #74cfae;
  margin-bottom: 20px;
}

.title__paragraph {
  font-size: 30px;
  color: #c0c0c0;
}

.explanation {
  width: 100%;
  background-color: #74cfae;
}

.explanation--inner {
  padding-top: 50px;
}

.explanation__img {
  float: left;
}

.explanation__text {
  float: right;
  width: 720px;
  color: #fff;
  line-height: 28px;
  text-align: center;
}

.explanation__heading {
  font-size: 24px;
  margin-bottom: 35px;
}

.explanation__paragraph {
  font-size: 20px;
}

.contents {
  width: 100%;
}

.contents--inner {
  padding: 60px 0 70px 0;
  text-align: center;
}

.contents__title {
  font-size: 24px;
}

.contents__wrapper {
  margin: 40px 0 90px 0;
  font-size: 0;
}

.contents__item {
  float: left;
  opacity: 0.7;
  transition: opacity 0.3s;
}

.contents__item:hover {
  opacity: 1;
  transition: opacity 0.3s;
}

.contents__item:nth-child(-n+3) {
  margin-left: 100px;
}

.contents__item:nth-child(n+4) {
  margin: 80px  0 0 100px;
}

.contents__item:nth-child(3n+1) {
  margin-left: 0;
}

.item__link {
  display: block;
}

.contents__paragraph {
  display: inline-block;
  width: 550px;
  font-size: 18px;
  line-height: 28px;
}

.contact__link {
  display: inline-block;
  padding: 14px 20px;
  margin-left: 90px;
  vertical-align: top;
}

.skills-progress {
  width: 100%;
  background-color: #4e4e4e;
}

.skills-progress--inner {
  padding: 70px 0 100px 0;
  text-align: center;
}

.skills-progress__title {
  font-size: 24px;
  color: #fff;
  margin-bottom: 60px;
}

.skill__wrapper {
  display: inline-block;
}

.skill__item {
  float: left;
  margin-left:180px;
}

.skill__item:first-child {
  margin-left: 0;
}

.skill__name {
  font-size: 16px;
  color: #fff;
  margin-top: 10px;
}

.navigation {
  width: 100%;
}

.navigation--inner {
  padding: 200px 0;
  text-align: center;
}

.fa__nav {
  display: inline-flex;
  transition: background-color 0.3s;
}

.fa__nav:hover {
  background-color: #fff;
  transition: background-color 0.3s;
}

.nav__link {
  display: block;
  width: 176px;
  padding: 20px 0;
}

.is-turquoise {
  color: #74cfae;
  font-size: 38px;
  text-decoration: none;
}

.footer {
  width: 100%;
  background-color: #74cfae;
}

.footer--inner {
  padding: 20px 0 25px 0;
}

.crafted-by {
  font-size: 16px;
  color: #fff;
  text-align: right;
  margin-right: 15px;
}


@media screen and (min-width: 768px) and (max-width: 1199px) {

  * {
    box-sizing: border-box;
  }

  .inner {
    max-width: 1199px;
    width: 97%;
  }

  .explanation--inner {
    padding-bottom: 25px;
  }

  .explanation__img {
    display: block;
    float: none;
    margin: 0 auto;
  }

  .explanation__text {
    float: none;
    width: 84%;
    margin: 20px auto 0 auto;
  }

  .contents__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 80px;
    font-size: 0;
  }

  .contents__item {
    float: none;
  }

  .contents__item:nth-child(-n+3) ,
  .contents__item:nth-child(n+4) {
    margin: 0;
  }

  .contents__item:nth-child(4n) {
    margin-top: 80px;
  }

  .contents__paragraph {
    width: 94%;
    margin: 0 auto 40px auto;
  }

  .contact__link {
    margin: 0 auto;
  }

  .skill__item {
    float: none;
    margin: 0 auto 88px auto;;
  }

  .skill__item:last-child {
    margin-bottom: 0;
  }

}


@media screen and (max-width: 767px) {

  * {
    box-sizing: border-box;
  }

  .inner {
    max-width: 767px;
    width: 97%;
  }

  .header__link {
    display: none;
  }

  .hamburger__icon {
    display: block;
    position: absolute;
    top: 50%;
    right: 16px;
    width: 48px;
    height: 36px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    transform: translateY(-50%);
  }

  .hamburger__icon .icon__interior {
    position: absolute;
    top: 50%;
    width: 26px;
    height: 2px;
    background-color: #ddd;
    border-radius: 4px;
    transform: translateY(-50%);
  }

  .hamburger__icon .icon__interior:before, 
  .hamburger__icon .icon__interior:after {
    content: "";
    position: absolute;
    width: 26px;
    height: 2px;
    background-color: #ddd;
    border-radius: 4px;
  }
  
  .hamburger__icon .icon__interior:before {
    top: -7px;
  }

  .hamburger__icon .icon__interior:after {
    bottom: -7px;
  }

  .title--inner {
    padding: 160px 0 130px 0;
  }

  .title__heading {
    font-size: 80px;
  }

  .explanation--inner {
    padding-bottom: 25px;
  }
  
  .explanation__img {
    display: block;
    float: none;
    margin: 0 auto;
  }
  
  .explanation__text {
    float: none;
    width: 84%;
    margin: 20px auto 0 auto;
  }
  
  .contents__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 80px;
    font-size: 0;
  }
  
  .contents__item {
    float: none;
  }
  
  .contents__item:nth-child(-n+3) ,
  .contents__item:nth-child(n+4) {
    margin: 0;
  }
  
  .contents__item:nth-child(4n) {
    margin-top: 80px;
  }
  
  .contents__paragraph {
    width: 92%;
    margin: 0 auto 40px auto;
  }
  
  .contact__link {
    margin: 0 auto;
  }
  
  .skill__item {
    float: none;
    margin: 0 auto 88px auto;;
  }
  
  .skill__item:last-child {
    margin-bottom: 0;
  }

  .navigation--inner {
    padding: 50px 0;
  }

  .fa__nav {
    display: block;
  }

  .nav__link {
    width: 100%;
  }
  
}