@media screen and (min-width: 768px) and (max-width: 1199px) {

  * {
    box-sizing: border-box;
  }

  .inner {
    max-width: 1199px;
    width: 97%;
  }

  .explanation--inner {
    padding-bottom: 25px;
  }

  .explanation__img {
    display: block;
    float: none;
    margin: 0 auto;
  }

  .explanation__text {
    float: none;
    width: 84%;
    margin: 20px auto 0 auto;
  }

  .contents__wrapper {
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
    font-size: 0;
  }

  .contents__item {
    float: none;
  }

  .contents__item:nth-child(-n+3) ,
  .contents__item:nth-child(n+4) {
    margin: 0;
  }

  .contents__item:nth-child(3n) {
    margin-bottom: 80px;
  }

  .contents__paragraph {
    width: 94%;
    margin: 0 auto 40px auto;
  }

  .contact__link {
    margin: 0 auto;
  }

  .skill__item {
    float: none;
    margin: 0 auto 88px auto;;
  }

  .skill__item:last-child {
    margin-bottom: 0;
  }

}